<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
   <title>Dream NBA Lineup</title>
   <link rel="stylesheet" href="style.css" />
</head>
<body>
  <h1>Dream NBA Lineup</h1> <hr>
  <h2>Applicant</h2>
  <ul>
    <li>To set Roster select <a href="/playerForm">Set Roster</a></li>
    <li>View Roster <a href="/retreiveRoster">Get Roster</a></li>
  </ul>
  <hr>
  <h2>Admin</h2>
  <ul>
    <li>To remove all applications <a href="/removeAll">Remove All</a></li>
    <li>To Remove ONE application<a href="/removeOne">Remove One</a></li>
  </ul>
</body>
