<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<title>Select Players</title>
  <link rel="stylesheet" href="style.css" />
</head>

<body>
    <h1>Submitted Line up</h1>
         <%- players %>

  
  <br><br>
  <a href="/">HOME</a>
</body>