<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<title>Process Remove All</title>
  <link rel="stylesheet" href="style.css" />
</head>

<body>
  <h1>Removal of All Applications</h1>
  <p>All applications have been removed from the database. Number of applications removed: <%- number %></p>
  <br>
  <a href="/">HOME</a>
</body>
</html>