<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<title>Remove One</title>
  <link rel="stylesheet" href="style.css" />
</head>

<body>
  <form method="POST" action="/previewRemoveOne">

    <p>Email: <input name="email" type="email" placeholder="exampleEmail@gmail.com" required></p>
    <p>Line up Name: <input name="lineup" type="text" placeholder="avengers" required></p>

    <input type="submit" value="Remove One Applicants">
  </form>
  <hr>
  <a href="/">HOME</a>
</body>
</html>