<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<title>Remove All</title>
  <link rel="stylesheet" href="style.css" />
</head>


<body>
  <form method="POST" action="/processRemoveAll">
    <input type="submit" value="Remove All Applicants">
  </form>
  <hr>
  <a href="/">HOME</a>
</body>
</html>