@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap');

h1 {
  text-align: center;
}

html , body { 
  margin-top: 30px; 
  margin-left: 30px; 
  min-height: 100vh;
  background-color: antiquewhite;
  font-family: var(--font-family);
} 

:root{ 
    --font-family: "Roboto Slab", serif;
}

.playerDNE{
    color:red
  }